/* Copyright (C) Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https://alifsemi.com/license
 *
 */


#define I2S0_IRQ_NUM  141
#define I2S0_IRQ_PRIO 3

/ {
	aliases {
		audio-codec = &wm8904;
		i2s-bus = &i2s0;
		/*i2s-mic = &i2s2;*/
	};
};

