#include <dt-bindings/pinctrl/balletto-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&{/} {
	chosen {
		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
		zephyr,bt-hci = &alif_hci_uart;
		zephyr,hci-uart = &uart_hci;
		zephyr,uart-mcumgr = &uart2;
		zephyr,entropy = &rng;
	};

	aliases {
		led0 = &aled1;
		led2 = &aled2;
		pwm-led0 = &pwm_ut2;
		sw0 = &button0;
		watchdog0 = &wdog0;
	};

	leds {
		compatible = "gpio-leds";

		aled0: led_0 {
			gpios = <&gpio4 5 0>;
			label = "LED0_G";
		};

		aled1: led_1 {
			gpios = <&gpio4 7 0>;
			label = "LED0_R";
		};

		aled2: led_2 {
			gpios = <&gpio4 3 0>;
			label = "LED0_B";
		};
	};

	pwmleds {

		compatible = "pwm-leds";
		pwm_ut2: pwm_ut2 {
			pwms = <&pwm2 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "UT2 PWM";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = < &gpio8 6 0 >;
			label = "SW0";
		};

		button1: button_1 {
			gpios = < &gpio8 7 0 >;
			label = "SW1";
		};
	};
};

&ieee802154 {
	status = "okay";
};

&utimer2 {
	status = "okay";
	pwm2: pwm2 {
		pinctrl-0 = < &pinctrl_ut2 >;
		pinctrl-names = "default";
		status = "okay";
	};
};

&uart2 {
	status = "okay";
};

&uart_hci {
	clock-frequency = <160000000>;
	dmas = <&dma2 HCI_UART_DMA_RX_CH HCI_UART_DMA_RX_REQ>,
	       <&dma2 HCI_UART_DMA_TX_CH HCI_UART_DMA_TX_REQ>;
	dma-names = "rx", "tx";
	status = "okay";
};

&uart_ahi {
	clock-frequency = <160000000>;
	pinctrl-0 = <&pinctrl_ahi_trace>;
	pinctrl-names = "default";
	dmas = <&dma2 AHI_UART_DMA_RX_CH AHI_UART_DMA_RX_REQ>,
	       <&dma2 AHI_UART_DMA_TX_CH AHI_UART_DMA_TX_REQ>;
	dma-names = "rx", "tx";
	status = "okay";
};

&dma2 {
	status = "okay";
};

&gpio4 {
	status = "okay";
};

&gpio8 {
	status = "okay";
};

&pinctrl_gpio8 {
	group0 {
		pinmux = < PIN_P8_0__GPIO >,
			 < PIN_P8_1__GPIO >,
			 < PIN_P8_2__GPIO >,
			 < PIN_P8_3__GPIO >,
			 < PIN_P8_4__GPIO >,
			 < PIN_P8_5__GPIO >,
			 < PIN_P8_6__GPIO >,
			 < PIN_P8_7__GPIO >;
		read-enable = < 0x1 >;
	};

	group1 {
		pinmux = < PIN_P8_6__GPIO >,
			 < PIN_P8_7__GPIO >;
		driver-state-control = <1>;
	};
};
